@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Lexend:wght@100&family=Nunito:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}

#root {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	scrollbar-width: thin;
}

a {
	text-decoration: none;
	outline: none;
}

.app-container {
	width: 100vw;
	background: #E1EDEB;
	display: flex;
	flex-direction: column;
}
