html, body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}

#root {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	scrollbar-width: thin;
}

a {
	text-decoration: none;
	outline: none;
}

.app-container {
	width: 100vw;
	background: orange;
	display: flex;
	flex-direction: column;
}
