header {
	width: 100vw;
	height: 15vh;
	background: #106958;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header input {
	width: 30vw;
	height: 4vh;
	border: 0;
	border-radius: 30px;
	font-size: 1.2rem;
	padding: 1rem;
	@media (min-width: 800px) {
		font-size: 2rem;
		width: 40vw;
		height: 5vh;
		padding: 1.5rem;
	}
}

header input:active, input:focus {
	outline: none;
}

.title {
	width: 30vw;
	height: 15vh;
	color: black;
	font-size: 0.8rem;
	font-family: 'Inconsolata', monospace;
	color: #e1edeb;
	@media (min-width: 800px) {
		font-size: 2.5rem;
	}
}

.title:hover {
	cursor: default;
}

nav {
	color: black;
	font-size: 2rem;
	padding-right: 2vw;
	display: flex;
	padding-right: 2vw;
	color: #e1edeb;
}

a {
	width: 15vw;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8rem;
	@media (min-width: 800px) {
		width: 10vw;
		font-size: 2rem;
	}
}

nav > a {
	display: flex;
	flex-direction: column;
	color: #e1edeb;
	font-family: 'Inconsolata', monospace;
	cursor: default;
	transition: all 0.25s ease-in-out;
}

nav > a:hover {
	color: yellow;
}

nav > a hr {
	width: 0vw;
	height: 0vh;
	background: #024b30;
	border: 0;
	border-radius: 10px;
	color: yellow;
	transition: all 0.30s ease-in-out;
	content-visibility: hidden;
}

nav > a:hover > hr {
	width: 6vw;
	height: 1vh;
	content-visibility: visible;
}
