.landing-page {
	width: 100vw;
	background: coral;
}

.featured-home {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: 'Inconsolata';
	font-size: 2vw;
	font-weight: bold;
}

.featured-posts {
	width: 100vw;
	height: 110vh;
	background: pink;
}

.featured-about {
	width: 100vw;
	height: 100vh;
	background: magenta;
}

.landing-hook {
	width: 80vw;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.recent-posts {
	width: 100vw;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: space-evenly;
}

.recent-title {
	font-size: 2vw;
	font-family: 'Inconsolata';
	font-weight: bold;
	padding-left: 2vw;
}

.post-array {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.see-posts {
	width: 100vw;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.see-posts > a {
	width: 20vw;
	height: 8vh;
	font-family: 'Inconsolata';
	font-size: 2vw;
	font-weight: bold;
	background: black;
	color: white;
	border-radius: 30px;
	transition: all 0.25s ease-in-out;
}

.see-posts > a:hover {
	background: blue;
	width: 20.5vw;
	height: 8.5vh;
	font-size: 2.1vw;
	box-shadow: 0 4px 10px 6px rgba(0, 0, 0, 0.75);
	cursor: default;
}
