.landing-page {
	width: 100vw;
	background: #E1EDEB;
}

.featured-home {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: 'Lucida Console', monospace;
	font-size: 4vw;
	font-weight: bold;
	animation: slide 0.2s ease-in-out forwards;
}

@keyframes slide {
	from {
		transform: translateY(150px);
		opacity: 0.2;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.featured-posts {
	width: 100vw;
	height: 110vh;
	background: #E1EDEB;
}

.featured-about {
	width: 100vw;
	height: 100vh;
	background: #E1EDEB;
}

.landing-hook {
	width: 80vw;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.recent-posts {
	width: 100vw;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: space-evenly;
}

.recent-title {
	font-size: 2vw;
	font-family: 'Inconsolata';
	font-weight: bold;
	padding-left: 2vw;
}

.post-array {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.see-posts {
	width: 100vw;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.see-posts > a {
	width: 20vw;
	height: 8vh;
	font-family: 'Inconsolata';
	font-size: 2vw;
	font-weight: bold;
	background: #106958;
	color: white;
	border-radius: 30px;
	transition: all 0.25s ease-in-out;
}

.see-posts > a:hover {
	width: 20.5vw;
	height: 8.5vh;
	font-size: 2.1vw;
	box-shadow: 0 4px 10px 6px rgba(0, 0, 0, 0.75);
	cursor: default;
}
