.landing-page {
	width: 100vw;
	background: #E1EDEB;
}

.featured-home {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: 'Nunito', sans-serif;
	font-size: 4vw;
	font-weight: bold;
	color: #F0EFEB;
	//background-image: url('assets/future.jpg');
	background-size: cover;
	//background-color: #67a695;
	background-color: #106958;
	background-blend-mode: screen;
}

@keyframes slide {
	from {
		transform: translateY(150px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.featured-posts {
	width: 100vw;
	height: 110vh;
	background: #E1EDEB;
}

.featured-about {
	width: 100vw;
	height: 100vh;
	background: #E1EDEB;
	display: flex;
}

.about-text {
	width: 50vw;
	height: 100vh;
	background: #E1EDEB;
	font-size: 10vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	font-family: 'Londrina Outline', cursive;
	padding-left: 3.5vw;
}

.about-text > p {
	padding: 0;
	margin: 0;
	padding-top: 2.5vh;
	padding-bottom: 2.5vh;
}

.about-attributes {
	width: 50vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.about-attributes > section {
	width: 40vw;
	height: 30vh;
	font-family: 'Inconsolata', monospace;
	font-size: 2.5vw;
}

.bubble {
	width: 10px;
	height: 10px;
	background: red;
	border-radius: 50%;
}

.landing-hook {
	width: 90vw;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	text-shadow: 2px 2px 20px #000000;
	animation: slide 0.28s ease-in-out forwards;
}

.recent-posts {
	width: 100vw;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: space-evenly;
}

.recent-title {
	font-size: 2rem;
	font-family: 'Lexend', sans-serif;
	font-weight: bold;
	padding-left: 2vw;
	background: #E1EDEB;
}

.post-array {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.see-posts {
	width: 100vw;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.see-posts > a {
	width: 40vw;
	height: 8vh;
	font-family: 'Nunito', sans-serif;
	font-size: 1.75rem;
	font-weight: bold;
	background: #106958;
	color: white;
	border-radius: 30px;
	transition: all 0.25s ease-in-out;
	@media(min-width: 1000px) {
		width: 20vw;
	}
}

.see-posts > a:hover {
	width: 40.5vw;
	height: 8.5vh;
	font-size: 1.6rem;
	box-shadow: 0 4px 10px 6px rgba(0, 0, 0, 0.75);
	cursor: default;
	@media(min-width: 1000px) {
		width: 20.5vw;
	}
}
