.posts-page {
	width: 100vw;
	height: 85vh;
	background: #E1EDEB;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow-x: hidden;
	overflow-y: scroll;
}

.posts-page > div.post-card {
	width: 85vw;
	height: 15vw;
	flex-direction: row;
	background: #106958;
	border-radius: 15px;
	margin: 2rem;
	padding: 1.2rem;
	cursor: default;
}

div.post-card > div.metadata {
	margin-right: 10vw;
}
