.posts-page {
	width: 100vw;
	background: #E1EDEB;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.posts-page > div.post-card {
	width: 80vw;
	height: 10vw;
	background: red;
	margin: 1vw;
}
