.post-card {
	width: 32vw;
	height: 40vh;
	background: #106958;
	border-radius: 7px;
	display: flex;
	flex-direction: column;
	font-size: 1.5vw;
	font-weight: bold;
	font-family: 'Nunito', sans-serif;
	color: #e1edeb;
	transition: all 0.25s ease-in-out;
	@media(min-width: 1000px) {
		justify-content: space-between;
		height: 60vh;
	}
}

.post-card > * {
	padding-left: 1vw;
	cursor: default;
}

.post-card:hover {
	filter: brightness(80%);
}

.post-title {
	font-size: 3vw;
	word-break: break-word;
	text-transform: capitalize;
	height: 45%;
}

.post-tags {
	height: 4vh;
	display: flex;
	background: #024b30;
	border-radius: 35px;
	padding: 0.2rem;
	margin: 0.2rem;
	align-items: center;
	overflow-x: hidden;
	@media(min-width: 1000px) {
		height: 6vh;
		margin: 0.3rem;
		padding: 0.3rem;
	}
}

.post-tags::before {
	content: "# ";
}

.post-time {
	height: 30%;
}

.metadata {
	height: 55%;
}

#tag-box {
	width: 30vw;
	height: 10vh;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}
