.displayed-post {
	width: 100vw;
	display: flex;
	justify-content: center;
}

#container {
	width: 85vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#container > h3 {
	font-size: 2rem;
	font-family: 'Inconsolata', monospace;
	text-align: center;
	color: #106958;
	margin-top: 5vh;
	margin-bottom: 1vh;
	@media (min-width: 600px) {
		font-size: 4rem;
	}
}

#container > section {
	margin-top: 2%;
	margin-bottom: 2%;
	font-size: 1.2rem;
	font-family: 'Inconsolata', monospace;
	width: 85vw;
	line-height: 2.25rem;
	@media (min-width: 600px) {
		font-size: 2rem;
	}
}

#container > div.img-wrapper {
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 6vh;
	margin-bottom: 6vh;
	font-size: 1.6rem;
	font-family: 'Inconsolata', monospace;
	font-weight: bold;
	color: #106958;
}

#container > p {
	font-family: 'Inconsolata', monospace;
	font-weight: bold;
	color: #106958;
	padding: 0;
	margin-bottom: 1vh;
}

#container > code {
	width: 85vw;
	background: #106958;
	padding: 2rem;
	margin: 1rem;
	color: #E1EDEB;
	border-radius: 20px;
	font-size: 1.25rem;
	cursor: default;
	@media (min-width: 600px) {
		width: 70vw;
	}
}


p.indent-1 {
	margin-left: 3vw;
}

p.indent-2 {
	margin-left: 6vw;
}

p.indent-3 {
	margin-left: 9vw;
}

.img-wrapper > img {
	width: 85vw;
	height: auto;
	@media (min-width: 600px) {
		width: 70vw;
	}
}

p.image-desc {
	width: 85vw;
	height: 8vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

section a {
	width: 85vw;
	display: flex;
	justify-content: flex-start;
}

hr {
	width: 80vw;
	height: 4px;
}

li {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
