.posts-page {
	width: 100vw;
	height: 85vh;
	background: #E1EDEB;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 20%;
	overflow-y: scroll;
}

.posts-page > div.post-card {
	width: 85vw;
	height: 10vw;
	flex-direction: row;
	background: #106958;
	border-radius: 15px;
	margin: 2rem;
	padding: 1.2rem;
	cursor: default;
}

div.post-card > div.metadata {
	margin-right: 10vw;
}

.waiting {
	width: 100vw;
	height: 85vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
